@tailwind base;
html {
    scroll-behavior: smooth;
    word-break: break-word;
}

::selection {
    color: hsl(var(--background));
    background: hsl(var(--primary));
}

* {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--background));
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: hsl(var(--background));
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    border-radius: 10px;
    border: 3px solid hsl(var(--background));
}
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 5%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 5%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 5%;

        --primary: 173 54% 27%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96%;
        --secondary-foreground: 0 0% 5%;

        --muted: 0 0% 96%;
        --muted-foreground: 0 0% 45%;

        --accent: 0 0% 96%;
        --accent-foreground: 0 0% 5%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 92%;
        --input: 0 0% 85%;
        --ring: 0 0% 76%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 180 3% 10%;
        --foreground: 0 0% 95%;

        --card: 180 3% 6%;
        --card-foreground: 0 0% 98%;

        --popover: 180 3% 6%;
        --popover-foreground: 0 0% 98%;

        --primary: 170 88% 47%;
        --primary-foreground: 0 0% 2%;

        --secondary: 180 2% 12%;
        --secondary-foreground: 0 0% 98%;

        --muted: 180 2% 18%;
        --muted-foreground: 180 2% 49%;

        --accent: 169 18% 12%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 180 2% 12%;
        --input: 180 2% 18%;
        --ring: 170 88% 40%;
    }
    html {
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }

    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}

